a {
    color: blue; 
    text-decoration: none; 
}


a:hover {
    color: green; 
    text-decoration: underline; 
}


a:focus {
    color: purple; 
}


a:active {
    color: red; 
}


.secondary-links a {
    color: darkorange; 
    text-decoration: none; 
}


.secondary-links a:hover {
    color: darkred; 
    text-decoration: underline;
}


.secondary-links a:active {
    color: darkblue; 
}
